/* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #111; /* fond noir */
    color: #fff; /* texte blanc */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #FFD700; /* Jaune pour le titre */
    font-size: 2.5em;
    margin-top: 20px;
}

/* Conteneur de projets */
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

/* Projet individuel */
.project {
    background-color: #333; /* fond gris foncé */
    border-radius: 10px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
}

.project-content {
    padding: 20px;
}

.project-image {
    width: 100%;
    border-radius: 10px;
}

.project-text {
    margin-top: 15px;
}

.project-text h3 {
    color: #FFD700; /* Jaune pour le titre du projet */
    font-size: 1.5em;
}

.project-text p {
    color: #ccc; /* Gris clair pour le texte descriptif */
    font-size: 1em;
}


a {
    text-decoration: none;
}


/* Responsivité */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        width: 80%;
        margin-bottom: 20px;
    }
}
