body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #FFD700; /* Jaune doré */
}

.lien {
    padding: 20px;
}

.Reseaux, .Pro {
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    color: white;
}

a img {
    border-radius: 10px;
    transition: transform 0.3s, filter 0.3s;
}

a img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#map {
    margin: 20px auto;
    border: 2px solid #FFD700; /* Jaune doré */
    border-radius: 10px;
}
