/* Général */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/degrade5.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

/* En-tête */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8a34db;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.menu-container {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-right: 1px solid #fff;
    transition: background-color 0.3s;
}

#menu a:last-child {
    border-right: none;
}

#menu a:hover {
    background-color: #51099d;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #860afb;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #51099d;
}

/* Lien de contact */
.lien {
    margin: 30px;
    text-align: center;
}

.lien h1 {
    margin-bottom: 20px;
    color: #fff;
}

.Reseaux, .Pro, .adresse {
    margin-top: 20px;
}

.Reseaux p, .Pro p, .adresse p {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
}

.Reseaux a, .Pro a, .adresse a {
    margin: 0 10px;
    display: inline-block;
}

.Reseaux img, .Pro img, .adresse img {
    width: 70px;
    height: auto;
    transition: transform 0.3s;
}

.Reseaux img:hover, .Pro img:hover, .adresse img:hover {
    transform: scale(1.1);
}

/* Carte */
#map {
    height: 400px;
    width: 100%;
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Table générale */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Bouton */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}
