/* Style global */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    overflow-x: hidden;
    position: relative;
    background-color: black;
}

/* Introduction section */
.intro {
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.intro h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #FFD700; /* Jaune */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.intro h2 span {
    color: #FFD700; /* Jaune */
    font-weight: bold;
}

/* Animation de fond avec canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
