body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/degarde3.PNG');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #8a34db;
    padding: 10px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.menu-container {
    display: flex;
    align-items: center;
}

#menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-right: 1px solid #fff;
}

#menu a:last-child {
    border-right: none;
}

#menu a:hover {
    background-color: blue;
}

.content {
    text-align: center;
    padding: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 90%;
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    color: #000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
