/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e; /* Noir */
    color: white;
    margin: 0;
    padding: 0;
}

/* Header Section */
.content h1 {
    text-align: center;
    color: #f1c40f; /* Jaune */
    margin-top: 100px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* Table Styles */
table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #333; /* Gris foncé */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    text-align: left;
    font-size: 1rem;
}

th {
    background-color: #444; /* Gris clair */
    color: #f1c40f; /* Jaune */
    border-bottom: 2px solid #f1c40f; /* Jaune */
}

td {
    background-color: #555; /* Gris plus foncé */
    color: #fffcfc; /* Gris clair pour les textes */
    border-bottom: 1px solid #666; /* Gris moyen */
}

td a {
    color: #f1c40f; /* Jaune */
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

/* Menu Styles */
#menu-placeholder {
    display: block;
    background-color: #333; /* Gris foncé */
    height: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    .content h1 {
        font-size: 2rem;
    }

    th, td {
        font-size: 0.9rem;
    }
}
